body{
    /* background: url('https://source.unsplash.com/random');
    background-size:cover */
}

h1{
    font-family: 'Magneto';
}

.icon{
    animation: rotation 2s infinite
}

@keyframes rotation{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}

select{
    padding: 10px 15px;
    border-radius: 11px;
    border-color: #ccc;
    position: absolute;
    right: 100%;
}